name: Terraform Manual

on:
  workflow_dispatch:
    inputs:
      environment_name:
        description: "Environment to deploy"
        required: true
        type: choice
        options:
          - validation
          - prod
          - dev
          - test
      branch_name:
        description: "Branch to run against"
        required: true
      action_type:
        description: "Terraform action (plan, apply, destroy)"
        required: true
        type: choice
        options:
          - plan
          - apply
          - destroy

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: ap-south-1

jobs:
  terraform_manual:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ format('accounts/{0}/vpc', github.event.inputs.environment_name) }}
    steps:
      - name: "Say Hello Mona it's Monday"
        run: echo "$ACCOUNT_ID_lab"        

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.branch_name }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

    
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        if: ${{ github.event.inputs.action_type == 'plan' }}
        run: terraform plan -out=${{ github.event.inputs.environment_name }}-plan.tfplan

      - name: Terraform Apply
        if: ${{ github.event.inputs.action_type == 'apply' }}
        run: terraform apply -auto-approve ${{ github.event.inputs.environment_name }}-plan.tfplan

      - name: Terraform Destroy
        if: ${{ github.event.inputs.action_type == 'destroy' }}
        run: terraform destroy -auto-approve